fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
pandas
openpyxl
scipy
numpy
sqlmodel
openai
statsmodels
lifelines
python-multipart
psycopg2-binary
PyJWT
requests
beautifulsoup4
PyPDF2
pingouin
Pillow
aiofiles
